.pc-sheet-header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.armours-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.hireling-upper {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.upper-section {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.fa-trash {
    margin-left: 10px;
}

.digitInput {
    display: inline-block;
    width: 25px !important;
}

.editor {
    min-height: 400px;
}

.editor-content {
    min-height: 400px;
}

.tox {
    min-height: 400px;
}

.harm-input {
    margin-left:5px;
    margin-right: 5px;
    display: inline-block;
    width: 100px !important;
} 
.harm-input-wide {
    margin-left:5px;
    margin-right: 5px;
    display: inline-block;
    width: 203px !important;
} 
.harm-lvl-text {
    font-weight: bold;
}
.harm-fx-text {
    font-style: italic;
}
.harm-tab-row {
    margin-bottom: 10px;
}

.magic-bottom-section-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.magic-bottom-section {
    display: inline-block;
}
