<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{data.img}}" data-edit="img" title="{{data.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{data.name}}" placeholder="{{ localize 'Name' }}"/></h1>
    </header>
    <div>
        <label for="data.load">Load: </label>
        <input name="data.load" id="data.load" type="text" value="{{data.system.load}}" data-dtype="Number"/>
        <label for="data.supply">Supply: </label>
        <input name="data.supply" id="data.supply" type="checkbox" {{checked data.system.supply}} />
    </div>
    <textarea name="data.description">{{data.system.description}}</textarea>
</form>
