<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{data.img}}" data-edit="img" title="{{data.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{data.name}}" placeholder="{{ localize 'Name' }}"/></h1>
    </header>
    <div>
        <label for="data.coin">Coin: </label>
        <input name="data.coin" id="data.coin" type="text" value="{{data.system.coin}}" data-dtype="Number"/>
    </div>
    <textarea name="data.description">{{data.system.description}}</textarea>
</form>
