<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{data.img}}" data-edit="img" title="{{data.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{data.name}}" placeholder="{{ localize 'Name' }}"/></h1>
    </header>

    <section class="hireling-upper">
        <div>
            <label for="data.level">Level:</label>
            <input class="digitInput" name="data.level" id="data.level" type="text" value="{{data.system.level}}" data-dtype="Number"/>
        </div>
        <div>
            <label for="data.harm">Harm:</label>
            <input class="digitInput" name="data.harm" id="data.harm" type="text" value="{{data.system.harm}}" data-dtype="Number"/>
            <span>/{{data.system.harm-max}}</span>
        </div>
        <div>
            <label>Edges</label>
            <ul>
                {{#each edges as |item id|}}
                <li class="item" data-item-id="{{item._id}}">
                    <a class="show-item"><b>{{item.name}} - Load: {{item.system.load}}</b></a>
                    <i>{{item.system.description}}</i>
                    <a class="item-delete"><i class="fas fa-trash"></i></a>
                </li>
                {{/each}}
            </ul>
        </div>
        <div>
            <label>Flaws</label>
            <ul>
                {{#each flaws as |item id|}}
                <li class="item" data-item-id="{{item._id}}">
                    <a class="show-item"><b>{{item.name}} - Load: {{item.system.load}}</b></a>
                    <i>{{item.system.description}}</i>
                    <a class="item-delete"><i class="fas fa-trash"></i></a>
                </li>
                {{/each}}
            </ul>
        </div>
    </section>

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="inventory">Inventory</a>
        <a class="item" data-tab="description">Description</a>
    </nav>

    <section class="sheet-body">
        <div class="tab" data-group="primary" data-tab="inventory">
            <h1>Load: {{data.system.load}} / {{data.system.max-load}}</h1>
            <hr/>
            {{#each equipment as |item id|}}
            <div class="item" data-item-id="{{item._id}}">
                <a class="show-item"><b>{{item.name}} - Load: {{item.system.load}}</b></a>
                <i>{{item.system.description}}</i>
                <a class="item-delete"><i class="fas fa-trash"></i></a>
            </div>
            <hr/>
            {{/each}}
        </div>
        <div class="tab" data-group="primary" data-tab="description">
            <textarea name="data.description">{{data.system.description}}</textarea>
        </div>
    </section>
</form>

